@import 'src/styles/variables.scss';


.page-content {
  padding: $spacingMedium;
}

//// Media query for mobile compatibility
//@media screen and (max-width: $mobileBreakpoint) {
//  .page-content {
//    .form-row {
//      .input-wrapper {
//        width: 100%; // Full width on mobile
//      }
//    }
//  }
//}
//

.switch-wrapper {
    background-color: red;
  padding: 13rem;

}

input[type="checkbox"] {
  position: relative;
  appearance: none; /* Remove default checkbox appearance */
  width: 40px; /* Adjust the width of the switch */
  height: 20px; /* Adjust the height of the switch */
  background-color: #ccc; /* Background color when unchecked */
  border-radius: 10px; /* Make it round */
  margin-top: $spacingSmall;

  &::before {
    content: "";
    position: absolute;
    top: 2px; /* Adjust the vertical position */
    left: 2px; /* Adjust the horizontal position */
    width: 16px; /* Width of the switch handle */
    height: 16px; /* Height of the switch handle */
    background-color: #fff; /* Color of the switch handle */
    border-radius: 50%; /* Make it round */
    transition: transform 0.3s; /* Add a smooth transition effect */
  }

  &:checked::before {
    transform: translateX(20px); /* Move the switch handle to the right when checked */
    background-color: #007bff; /* Set switch handle color to blue when checked */
  }
}


