@import 'src/styles/variables.scss';

.stakeholder-input {
  display: flex;
  align-items: center;
  margin-bottom: $spacingMedium;
  width: 100%;

  @media (max-width: $mobileBreakpoint) {
    flex-direction: column;

    .input-field {
      margin-bottom: $spacingSmall;
    }

    .filter-button, .clear-filter-button {
      margin-bottom: $spacingSmall;
      width: 100%;
    }
  }

  .input-field {
    padding: $spacingSmall;
    border: 1px solid #ccc;
    border-radius: $buttonRadius;
    flex: 1;
    margin-right: $spacingSmall;

    &::placeholder {
      color: #999;
    }
  }

  .filter-button,
  .clear-filter-button {
    padding: $spacingSmall $spacingMedium;
    border: none;
    border-radius: $buttonRadius;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;

    svg {
      margin-right: $spacingSmall;
    }
  }

  .clear-filter-button {
    background-color: #e74c3c; // Red color for clear filter button
    margin-left: $spacingSmall;
  }
}
