@import 'src/styles/variables.scss';

.page-input {
  display: flex;
  align-items: center;

  .input-field {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    outline: none;
    background-color: #fff;

    &::placeholder {
      color: #999;
    }

    @media (max-width: $mobileBreakpoint) {
      margin: 0;
    }
  }

  .filter-button,
  .clear-filter-button {
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0d8ae7;
    }

    svg {
      margin-right: 5px;
    }
  }

  .clear-filter-button {
    background-color: #F44336;

    &:hover {
      background-color: #d32f2f;
    }
  }
}
