@import 'src/styles/variables.scss';

.item-card {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  box-shadow: $boxShadow;
  background-color: $cardBackgroundColor;
  border-radius: $borderRadius;
  padding: $spacingMedium;
  cursor: pointer;
  transition: ease-in-out 0.3s;

  &:hover {
    box-shadow: $boxShadowHover;
  }

  .item-image {
    width: 80px;

    img {
      border-radius: 50%;
      height: 60px;
      width: 60px;
      object-fit: cover; // Ensure the image fills the container
    }
  }

  .item-details {
    text-align: left;
    margin-left: $spacingMedium; // Add space between image and details on mobile

    h3 {
      margin: 0;
      font-size: 1.2em;
      font-weight: bold;
    }

    .item-description {
      margin-top: $spacingSmall;
      font-size: 0.9em;
      color: $textColorLight;
    }
  }

  .item-quantity {
    margin-top: $spacingSmall;
    font-size: 0.9em;
  }

  @media screen and (max-width: $mobileBreakpoint) {
    grid-template-columns: auto; // Switch to single column layout on mobile
    text-align: center; // Center align all content on mobile
    align-items: center;

    .item-details {
      margin-left: 0; // Remove left margin on mobile
      text-align: center;    }

    .item-quantity {
      margin-top: $spacingMedium; // Increase space between details and quantity on mobile
    }
  }
}
