@import 'src/styles/variables.scss';

.item-card {
  display: flex;
  flex-direction: column;
  background-color: $cardBackgroundColor;
  border-radius: $borderRadius;
  overflow: hidden;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  padding: $spacingSmall;
  box-shadow: $boxShadow;

  &:hover {
    box-shadow: $boxShadowHover;
  }

  .item-image {
    width: 100%;

    img {
      width: 100%;
      max-height: 150px;
      object-fit: cover;
      border-radius: $borderRadius;
      margin-bottom: $spacingSmall;
    }
  }

  .item-details {

    .item-description {
      margin-top: $spacingSmall;
      color: $textColorLight;
      min-height: 60px;
    }

    .item-quantity {
      margin-top: $spacingSmall;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      color: $textColor;

      strong {
        color: $primaryColor;
        font-weight: bold;
      }
    }
  }
}
