@import 'src/styles/variables.scss';

.report-section {
  border-radius: $spacingSmall; // Rounded corners
  width: 100% ;
}

.section-header {
  font-size: 24px; // Font size for section headers
  margin-bottom: 16px; // Bottom margin for spacing
  color: #333; // Text color
}
