 @import "src/styles/variables.scss";

 .confirmation-modal {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;

   .confirmation-content {
     background-color: $card-background-color;
     padding: $spacing-medium;
     border-radius: $border-radius;
     box-shadow: $box-shadow;
     width: 80%;
     max-width: 400px;

     p {
       margin-bottom: $spacing-medium;
       text-align: center;
     }

     .button-container {
       display: flex;
       justify-content: center;
       margin-bottom: $spacing-medium;

       button {
         margin: 0 $spacing-small;
         padding: $spacing-small $spacing-medium;
         border: none;
         border-radius: $button-radius;
         cursor: pointer;
         transition: background-color 0.3s;

         &.cancel-button {
           background-color: $primary-color;
           color: white;

           &:hover {
             background-color: $secondary-color;
           }
         }

         &.confirm-button {
           background-color: $cancelColor;
           color: white;

           &:hover {
             background-color: $cancelColorHover;
           }
         }

       }
     }

     .close-button {
       position: absolute;
       top: $spacing-small;
       right: $spacing-small;
       border: none;
       background: none;
       cursor: pointer;
       font-size: 1.5rem;
       color: $text-color;

       &:hover {
         color: $primary-color;
       }
     }
   }
 }

 @media screen and (max-width: $mobile-breakpoint) {
   .confirmation-modal .confirmation-content {
     width: 90%;
   }
 }
