@import 'src/styles/variables.scss';

.package-stats {
  display: flex;
  width: 100%;
  background-color: $cardBackgroundColor;
  padding: $spacingMedium;
  border: $border;
  border-radius: $borderRadius;
  margin-bottom: $spacingMedium;

  p {
    margin: 0;
  }

}