@import 'src/styles/variables.scss';

// Page Content
.page-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacingLarge;

  @media (max-width: $mobileBreakpoint) {
    padding: $spacingMedium;
  }
}

// Section Styles
.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

// page spacing
.page-content {
  padding: $spacingMedium;
}

// Ui Elements
.panel {
  box-shadow: $boxShadow;
  border-radius: $borderRadius;
  margin-bottom: $spacingLarge;
  width: 100%;
  background-color: $cardBackgroundColor;
  overflow: hidden;
  border: 1px solid #ddd;

  .panel-header {
    padding: $spacingMedium $spacingSmall;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: $border;

    h3 {
      color: $textColor;
      margin: 0; // Add margin to reset default browser styles
    }

    strong {
      color: $primaryColor;
    }
  }

  .panel-content {
    padding: $spacingSmall;
    overflow-x: auto;
  }
}

// Button Container
.btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: $spacingSmall;

  @media (max-width: $mobileBreakpoint) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

// Header Styles
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: $spacingLarge;

  h3 {
    align-items: center;
    display: flex;
    font-weight: bold;
    color: $textColorLight;
  }

  strong {
    color: $primaryColor;
    margin-left: $spacingSmall;
  }
}

// Menu Styles
.submenu {
  display: flex;
  justify-content: flex-start;
  border: $border;
  border-radius: $buttonRadius;
  background-color: #f4f4f4;
  padding: calc($spacingSmall / 2);

  .submenu-item {
    padding: $spacingSmall;
    cursor: pointer;
    transition: ease-in-out .3s;
    color: $textColorLight;
    font-weight: bold;
    border-radius: $buttonRadius;
    margin-right: $spacingSmall;

    &:hover {
      color: $textColor;
      background-color: #fff;
      box-shadow: $boxShadow;
    }

    &.selected {
      color: $textColor;
      background-color: #fff;
      box-shadow: $boxShadow;
    }
  }
}

