@import 'src/styles/variables.scss';

// Page Content
.page-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacingLarge;

  @media (max-width: $mobileBreakpoint) {
    padding: $spacingMedium;
  }
}

// Section Styles
.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

// page spacing
.page-content {
  padding: $spacingMedium;
}

// Ui Elements
.panel {
  border: $border;
  box-shadow: $boxShadow;
  border-radius: $borderRadius;
  margin-bottom: $spacingMedium;
  width: 100%;
  background-color: $cardBackgroundColor;

  .panel-header {
    padding: $spacingMedium;
    border-bottom: $border;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .panel-content {
    padding: $spacingSmall;
    overflow-x: auto;
  }
}

// Button Container
.btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: $spacingSmall;

  @media (max-width: $mobileBreakpoint) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

// Header Styles
.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  margin-bottom: $spacingLarge;

  h3 {
    align-items: center;
    display: flex;
    font-weight: bold;
    margin-bottom: 0; // Remove default margin

    svg {
      color: $primaryColor;
      margin-right: $spacingSmall;
    }
  }

  strong {
    color: $primaryColor;
  }

  @media (max-width: $mobileBreakpoint) {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    h3 {
      margin-bottom: $spacingSmall;
    }
  }
}

// Menu Styles
.submenu {
  display: flex;
  justify-content: flex-start;
  padding-left: $spacingSmall;

  .submenu-item {
    padding: $spacingMedium $spacingSmall;
    cursor: pointer;
    transition: ease-in-out .3s;
    color: $textColorLight;
    font-weight: bold;


    &:hover {
      color: $textColor;
    }

    &.selected {
      color: $textColor;
      border-bottom: 2px solid $primaryColor;
    }
  }
}

