@import 'src/styles/variables.scss';

// Card Styles
.card-list {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: $box-shadow;
}



.card {
  background-color: $card-background-color;
  padding: $spacing-medium;
  cursor: pointer;
  transition: ease-in-out .3s;
  width: 100%;

  &:hover {
    background-color: $card-background-hover-color;
  }

  .card-icon {
    font-size: 2rem;
    margin-right: $spacing-small;
    align-items: center;
    display: flex;
  }

  .package-card-wrapper {
    display: grid;
    grid-template-columns: auto 5fr 1fr;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
}

.card-header {
  margin-bottom: $spacing-small;

  h3 {
    color: $text-color;
    line-break: anywhere;
  }

  p {
    color: $text-color-light;
  }
}

// List of information
.info-list {
  font-size: 1.1em;
  color: #333;
  margin-bottom: $spacing-medium;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .info-item {
    font-weight: bold;
    margin-left: 5px;
  }

  .separator {
    margin: 0 10px;
    color: #ccc;
  }

  a {
    color: $primary-color;
  }
}

// List of details
.detail-list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  align-items: center;
  gap: $spacing-small;
  margin-bottom: $spacing-small;

  li {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-small;

    span {
      margin-right: $spacing-small;
    }

    p {
      margin: 0;
    }
  }
}
