@import 'src/styles/variables.scss';

// List of cards
.card-list {
  width: 100%;
  box-shadow: $box-shadow-hover;
  border: $border;
}

.card {
  background-color: $card-background-color;
  padding: $spacing-medium;
  cursor: pointer;
  transition: ease-in-out .3s;
  width: 100%;

  &:hover {
    background-color: $card-background-hover-color;
  }

  &:first-child {
    border-bottom: 1px solid #ccc;
  }
}

// List of information
.info-list {
  font-size: 1.1em;
  color: #333;
  margin-bottom: $spacing-medium;
  width: 100%;

  .info-item {
    font-weight: bold;
    margin-left: 5px;
  }

  .separator {
    margin: 0 10px;
    color: #ccc;
  }

  a {
    color: $primary-color;
  }
}

// List of details
.detail-list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  align-items: center;
  gap: $spacing-small;
  margin-bottom: $spacing-small;

  li {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-small;

    span {
      margin-right: $spacing-small;
    }

    p {
      margin: 0;
    }
  }
}
