@import 'src/styles/variables.scss';

.stats-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Display six items in a row */
  background-color: $cardBackgroundColor;
  padding: $spacingMedium; /* Increase padding for better spacing */
  width: 100%;
  margin-bottom: $spacingMedium;
  border-radius: $borderRadius;
  border: $border;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(4, 1fr); /* Display four items in a row on larger tablets and laptops */
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr); /* Display three items in a row on smaller tablets */
  }

  @media (max-width: 576px) {
    grid-template-columns: repeat(2, 1fr); /* Display two items in a row on phones */
  }

  .stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 100px;
    padding: $spacingMedium; /* Increase padding for better spacing */

    h3 {
        font-weight: bold;
    }
  }
}


/* General styles */
.report-wrapper {
  display: grid;
  gap: 20px; /* Adjust as needed */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-bottom: 40px; /* Adjust as needed */
  width: 100%;
}

/* Individual report item styles */
.report-item {
  background-color: #f9f9f9; /* Lighter background color */
  padding: 20px; /* Adjust as needed */
  border-radius: 8px; /* Adjust as needed */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.report-item h3 {
  font-size: 24px; /* Adjust as needed */
  font-weight: bold;
}

.report-item p {
}

