@import '../variables';

.select-table {
  tbody {
    .selected {
      background-color: $cardHoverBackgroundColor;
    }

    tr{
      cursor: pointer;
      &:hover {
        background-color: $cardHoverBackgroundColor;
      }
    }
  }
}

// Table Style
table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;

  // Table row hover effect
  .item-image, .table-icon {
    width: 100px;

    img {
      border-radius: 50%;
      height: 100px;
      width: 100px;
      object-fit: cover; // Ensure the image fills the container
    }

    svg {
      height: 60px;
      width: 60px;
      color: $secondaryColor;
    }
  }

  th, td {
    padding: $spacingMedium;
    text-align: left;
    vertical-align: middle;
    min-width: 150px; // Set min-width for table cells
  }

  tr {
    &:not(:last-child) {
      border-bottom: $border;
    }

    transition: background-color 0.3s ease;
  }

  thead {
    //background-color: $backgroundColor;
    color: $textColorLight;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: $border;

    //th, td {
    //  &:first-child {
    //    border-top-left-radius: $borderRadius;
    //    border-bottom-left-radius: $borderRadius;
    //  }
    //
    //  &:last-child {
    //    border-top-right-radius: $borderRadius;
    //    border-bottom-right-radius: $borderRadius;
    //  }
    //}
  }
}

.table-wrapper {
  border: $border;
  border-radius: $buttonRadius;
  max-height: 500px;
  overflow: auto;
}

// Responsive styles
@media screen and (max-width: $mobileBreakpoint) {
  th, td {
    padding: $spacingSmall;
  }

  .action-buttons {
    button {
      padding: $spacingSmall;
    }
  }
}
