@import '../variables';

.table-style {
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.select-table {
  tbody {
    .selected {
      background-color: $card-background-hover-color;
    }

    tr {
      cursor: pointer;

      &:hover {
        background-color: $card-background-hover-color;
      }
    }
  }
}

// Table Style
table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;

  // Table row hover effect
  .item-image, .table-icon {
    width: 100px;

    img {
      border-radius: 50%;
      height: 100px;
      width: 100px;
      object-fit: cover; // Ensure the image fills the container
    }

    svg {
      height: 60px;
      width: 60px;
      color: $secondary-color;
    }
  }

  th, td {
    padding: $spacing-medium; // Top, right, bottom, left
    text-align: left;
    vertical-align: middle;
    min-width: 150px;
  }

  td {
    color: $text-color-light;
  }

  tr {
    transition: background-color 0.3s ease;

    &:not(:last-child) {
      border-bottom: $border;
    }
  }

  thead {
    //background-color: $backgroundColor;
    color: $text-color;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: $border;

    //th, td {
    //  &:first-child {
    //    border-top-left-radius: $borderRadius;
    //  }
    //
    //  &:last-child {
    //    border-top-right-radius: $borderRadius;
    //  }
    //}
  }
}

.table-wrapper {
  border-radius: $button-radius;
  overflow: auto;
}

// Responsive styles
@media screen and (max-width: $mobile-breakpoint) {
  th, td {
    padding: $spacing-small;
  }

  //.action-buttons {
  //  button {
  //    padding: $spacing-small;
  //  }
  //}
}
