@import 'src/styles/variables.scss';

// Typography
h1 {
  font-size: $text-xlarge;
  font-weight: bold;
  color: $primary-color; // Using primary color for consistency
  text-align: center;
}

h2 {
  font-size: $text-large;
  font-weight: bold;
  color: $primary-color; // Using primary color for consistency
}

h3 {
  font-size: $text-medium;
  font-weight: normal;
  color: $text-color;
}

h4 {
  font-size: $text-small;
  font-weight: normal;
  color: $text-color; ///
}

p {
  font-size: $text-small;
  line-height: 1.5;
  color: $text-color-light;
}

.panel-label {
  font-weight: bold;
  text-transform: uppercase;
}
