@import 'src/styles/variables.scss';

// Typography
h1 {
  font-size: 24px;
  font-weight: bold;
  color: $primaryColor;
  text-align: center;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  color: $primaryColor;
}

h3 {
  font-size: 18px;
  font-weight: normal;
  color: $textColor;
}

h4 {
  font-size: 16px;
  font-weight: normal;
  color: $textColor;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: $textColorLight;
}

label {
  font-size: 16px;
  display: block;
}

.panel-label {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

// Buttons
button {
  background-color: $primaryColor;
  color: #fff;
  border: none;
  border-radius: $buttonRadius;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color $transition;
  align-items: center;
  display: flex;

  svg {
    margin-right: $spacingSmall;
    font-size: 1.2rem;
  }

  &:hover {
    background-color: $secondaryColor;
  }
}

.btn-danger {
    background-color: $cancelColor;
    &:hover {
        background-color: $cancelColorHover;
    }
}

// Inputs
textarea,
input, select {
  width: 100%;
  padding: $spacingSmall;
  border: $border;
  border-radius: $buttonRadius;
  font-size: 1rem;
  transition: border-color 0.3s;
  resize: none;
  background-color: #f9f9f9;

  &:focus {
    outline: none;
    border-color: $primaryColor; // Highlight color on focus
  }
}

textarea {
  height: 80px;
}

// Header
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: $border;
  padding: $spacingMedium $spacingSmall;

  label {
    text-transform: uppercase;
  }
}

// Page Content
.page-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacingLarge;

  @media (max-width: $mobileBreakpoint) {
    padding: $spacingMedium;
  }
}


// Ui Elements
.panel {
  border: $border;
  box-shadow: $boxShadow;
  border-radius: $borderRadius;
  margin-bottom: $spacingMedium;
  width: 100%;
  background-color: $cardBackgroundColor;

  .panel-header {
    padding: $spacingMedium;
    border-bottom: $border;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .panel-content {
    padding: $spacingSmall;
    overflow-x: auto;
  }

}


// Button Container
.btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  button {
    margin-left: $spacingSmall;
  }
}

.action-buttons {
  display: flex;
  height: 100%;
  align-items: center;
  gap: $spacingSmall;


  button {
    padding: $spacingSmall $spacingMedium;
    border: none;
    border-radius: $buttonRadius;
    cursor: pointer;
    transition: background-color 0.3s;
    height: fit-content;

    &:hover {
      background-color: $secondaryColor;
    }
  }

  .cancel-button {
    background-color: #e74c3c;
  }
}

// Responsive styles
@media screen and (max-width: $mobileBreakpoint) {
  th, td {
    padding: $spacingSmall;
  }

  .action-buttons {
    button {
      padding: $spacingSmall;
    }
  }
}



// List Styles
.info-list {
  margin-bottom: 1rem;
  width: 100%;
  color: $textColorLight;

  @media (max-width: $mobileBreakpoint) {
    display: flex;
    flex-direction: column;

    .separator {
      display: none;
    }

    .info-item {
      margin-bottom: 0.5rem;
    }
  }

  .info-item {
    font-weight: bold;
    color: $primaryColor;
    text-transform: uppercase;
  }

  .separator {
    margin: 0 $spacingMedium;
  }

  strong {
    color: $primaryColor;
  }
}


// Menu Styles
.submenu {
  display: flex;
  justify-content: flex-start;
  border-bottom: $border;
  margin-bottom: $spacingMedium;

  .submenu-item {
    padding: $spacingSmall;
    cursor: pointer;
    transition: color 0.3s ease, border-bottom 0.3s ease;

    &:hover {
      color: $primaryColor;
    }

    &.selected {
      color: $primaryColor;
      border-bottom: 2px solid $primaryColor;
    }
  }
}

// Card Styles
.card-header {
  margin-bottom: $spacingSmall;

  h3 {
    font-size: 1.2rem;
    color: $textColor;
    line-break: anywhere;
  }

  p {
    color: $textColorLight;
  }
}


// Detail List Styles
.detail-list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  align-items: center;
  gap: $spacingSmall;
  margin-bottom: $spacingSmall;

  li {
    display: flex;
    align-items: center;
    margin-bottom: $spacingSmall;

    span {
      margin-right: $spacingSmall;
    }

    p {
      margin: 0;
    }

    .chip {
      border-radius: $buttonRadius;
      font-weight: bold;
      padding: 5px 10px;

      &.green {
        background-color: rgba(76, 175, 80, 0.2);
        color: #4caf50;
      }

      &.red {
        background-color: rgba(244, 67, 54, 0.2);
        color: #f44336;
      }

      &.yellow {
        background-color: rgba(255, 235, 59, 0.2);
        color: #ffeb3b;
      }

      &.number {
        color: #007bff;
        font-weight: bold;
      }
    }
  }
}


//Form Styles
.form-row {
  display: flex;
  width: 100%;
  gap: $spacingSmall;

  @media (max-width: $mobileBreakpoint) {
    flex-direction: column;
    gap: 0;
  }
}

.input-wrapper {
  flex: 1;
  margin-bottom: $spacingSmall;


  label {
    display: block;
    margin-bottom: $spacingSmall;
    color: $textColor;
  }
}


// Table Styles
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: $buttonRadius;
  overflow: hidden;

  th, td {
    padding: $spacingMedium;
    text-align: left;
    vertical-align: middle;
  }

  td {
    min-width: 150px;
  }

  th {
    border-bottom: $border;
  }

  tr {
    &:not(:last-child) {
      border-bottom: $border;

    }
  }

  thead {
    background-color: #f0f0f0;
    color: $textColorLight;
    font-weight: bold;
    text-transform: uppercase;
  }
}


