
$primaryColor: #4CAF50; // Main color for primary elements
$secondaryColor: #388E3C; // Secondary color for accent elements

$backgroundColor: #f0f0f0; // Background color for the entire page
$cardBackgroundColor: #fff;
$inpurtBackgroundColor: #f9f9f9;

$spacingSmall: 8px; // Base spacing unit
$spacingMedium: 16px; // Medium spacing unit
$spacingLarge: 24px; // Large spacing unit

$borderRadius: 8px; // Border radius for rounded elements
$border: 1px solid #ddd; // Default border

$boxShadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Default box shadow
$boxShadowHover: 0 4px 8px rgba(0, 0, 0, 0.2); // Box shadow on hover

$textColor: #333; // Default text color
$textColorLight: #666; // Lighter text color for secondary text

$transition: ease-in-out .3s; // Default transition


$mobileBreakpoint: 768px; // Breakpoint for mobile devices