@import 'src/styles/variables.scss'; /* Importing theme variables */

.page-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: $spacingLarge; /* Utilizing theme variable for large spacing */
  width: 100%;
  border-bottom: $border; /* Utilizing theme variable for border */
  background-color: #ffff; /* Utilizing theme variable for background color */

  h2 {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
  }

}

.back-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: $textColor; /* Utilizing theme variable for text color */
  margin-right: $spacingSmall; /* Utilizing theme variable for medium spacing */
  transition: color 0.3s ease;
  padding: 0;

  &:hover {
    color: $primaryColor; /* Utilizing theme variable for primary color */
    background-color: transparent;
  }
}