@import 'src/styles/variables.scss';

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-medium;
  width: 100%;
  box-shadow: $box-shadow;
  background-color: $card-background-color;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }

  h2 {
    margin: 0;
    text-transform: uppercase;
    color: $text-color;

    strong {
      color: $primary-color;
    }

    @media (max-width: 768px) {
      margin-bottom: $spacing-medium;
    }
  }
}
