@import 'src/styles/variables.scss';

.stakeholder-card {
  background-color: $cardBackgroundColor;
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  padding: $spacingMedium;
  margin-bottom: $spacingMedium;
  cursor: pointer;
  transition: ease-in-out .3s;
  width: 100%;

  &:hover {
    box-shadow: $boxShadowHover;
  }

  .stakeholder-name {
    font-size: 1.2rem;
    color: $primaryColor;
    line-break: anywhere;
  }

  .desc {
    color: $textColorLight;
    margin-bottom: $spacingSmall;
  }


}


