@import 'src/styles/variables.scss';

.stakeholder-card {
  background-color: $cardBackgroundColor;
  border-bottom: $border;
  padding: $spacingMedium;
  cursor: pointer;
  transition: ease-in-out .3s;
  width: 100%;

  &:hover {
    background-color: #e0e0e0;
  }

  .stakeholder-name {
    font-size: 1.2rem;
    color: $primaryColor;
    line-break: anywhere;
  }

  .desc {
    color: $textColorLight;
    margin-bottom: $spacingSmall;
  }


}


