@import 'src/styles/variables.scss';

// components/LocationReport.scss
.location-report {

  .location-item {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;


    .location-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      h3 {
        margin: 0;
        font-size: 1.2em;
        color: #333;
        font-weight: bold;
      }

      p {
        margin: 0;
        font-size: 1em;
        color: #777;

        strong {
          color: #333;
        }
      }
    }

    .city-list {
      list-style: none;
      padding: 0;
      margin: 0;

      .city-item {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        border-bottom: 1px solid #eee;

        &:last-child {
          border-bottom: none;
        }

        span {
          font-size: 1em;
          color: #555;
        }

        strong {
          font-size: 1em;
          color: #333;
        }
      }
    }

    .no-cities {
      font-size: 1em;
      color: #777;
      padding: 8px 0;
    }
  }
}
