@import 'src/styles/variables.scss';

  .package-item-list {
    list-style-type: none;
    padding: 0;

    .table-row {
      display: flex;
      flex-wrap: wrap;
      gap: $spacingMedium;
      padding: $spacingMedium;
      align-items: center;

      &:not(:last-child) {
        border-bottom: $border;
      }

      .item-image-cell {
        flex: 0 0 100px;
        margin-right: $spacingMedium;

        .item-image {
          border-radius: 50%;
          height: 60px;
          width: 60px;
        }
      }

      .item-details-cell {
        flex-grow: 1;
        margin-right: $spacingMedium;

        h4 {
          margin: 0;
          color: $textColor;
          font-size: 1.2rem;
          font-weight: bold;
        }

        p {
          color: $textColorLight;
          font-size: 1rem;
        }
      }
    }
  }

