@import 'src/styles/variables.scss';

.delivery-details {

  .destination {
    font-size: 1.2rem;
    color: $textColor;
    line-break: anywhere;
  }

  .notes {
    margin-bottom: 1.5rem;
    color: #666;
  }

  .package-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;

    .package-item {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr auto 3fr;
      margin: 0;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;

        .arrow-icon {
          transform: rotate(90deg);
        }

        .package-info {
          padding: 1rem 0;
        }

        .stakeholder-info {
          padding: 1rem 0;
        }
      }

      &:last-child {
        border-bottom: none;
      }

      .package-info,
      .arrow,
      .stakeholder-info {
        display: flex;
        align-items: center;
        padding: 1rem;

        .icon {
          margin-right: 0.5rem;
          font-size: 1.2rem;
        }

        .package-name,
        .stakeholder-name {
        }
      }

      .arrow {
        font-weight: bold;
        color: #4285f4;
      }
    }
  }
}
