@import '/src/styles/variables.scss';

.stakeholder-delivery-details {
  background-color: $background-color;

  .delivery-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: $spacing-medium;

    @media (max-width: $mobile-breakpoint) {
      flex-direction: column;
      align-items: flex-start;
    }

    .delivery-info {
      flex: 1;

      h3 {
        color: $text-color;
      }

      p {
        font-size: $text-medium;
        color: $text-color-light;
        margin: 0;
      }
    }

    .view-delivery {
      display: flex;
      align-items: center;

      @media (max-width: $mobile-breakpoint) {
        margin-top: $spacing-small;
      }

      button {
        padding: $spacing-small $spacing-medium;
        background-color: $btn-background-color;
        color: white;
        border: none;
        border-radius: $button-radius;
        cursor: pointer;
        transition: background-color $transition;

        &:hover {
          background-color: $btn-background-hover-color;
        }
      }
    }
  }
}
