@import '/src/styles/variables.scss';

.stakeholder-delivery-details {
  background-color: $background-color;
  padding: $spacing-medium;
  transition: box-shadow $transition;

  &:hover {
    box-shadow: $box-shadow-hover;
  }

  .card-header {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacing-medium;

    h3 {
      color: $text-color;
      margin-bottom: $spacing-small;
    }

    .notes {
      font-size: $text-medium;
      color: $text-color-light;
      margin: 0;
    }
  }

  .info-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: $spacing-medium;
    font-size: $text-small;

    .info-item {
      font-weight: bold;
    }

    .separator {
      margin: 0 $spacing-small;
      color: $text-color-light;
    }
  }

  .delivery-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: $spacing-medium;

    th, td {
      padding: $spacing-small;
      text-align: left;
    }

    th {
      background-color: #f7f7f7;
      color: #666;
    }

    tr:nth-child(even) {
      background-color: #f0f0f0;
    }
  }

  .btn-container {
    text-align: right;

    button {
      padding: $spacing-small $spacing-medium;
      background-color: $btn-background-color;
      color: white;
      border: none;
      border-radius: $button-radius;
      cursor: pointer;
      transition: background-color $transition, transform $transition;

      &:hover {
        background-color: $btn-background-hover-color;
        transform: translateY(-2px);
      }
    }
  }
}
