@import 'src/styles/variables.scss';

.form-controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;

  @media (max-width: $mobile-breakpoint) {
    grid-template-columns: 1fr;
  }

  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: $button-radius;
    margin: 0 auto;
  }
}
