@import 'src/styles/variables.scss';

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, $primary-color, $secondary-color);
  padding: 10px 20px;
  box-shadow: $box-shadow;
  z-index: 1;
  position: sticky;
  top: 0;

  .btn-menu {
    display: none;

    @media (max-width: $desktop-breakpoint) {
      display: block;
      color: #fff;
      background: none;
      border: none;
      padding: 0;

      svg {
        font-size: 1.5rem;
      }
    }
  }

  .btn-logout {
    border: 2px solid #fff;
    background: none;
    color: #fff;
    padding: $spacing-small $spacing-large;
    width: 100%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: $transition;
    margin-left: $spacing-small;

    &:hover {
      background-color: #fff;
      color: $primary-color;
    }
  }

  .nav-logo {
    display: flex;
    align-items: center;

    svg {
      font-size: 2.5rem;
      margin-right: $spacing-small;
      color: #fff;
    }

    h1 {
      color: #fff;
    }
  }

  .navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    @media (max-width: $desktop-breakpoint) {
      display: none;
    }

    .navbar-link {
      padding: $spacing-small $spacing-medium;
      cursor: pointer;
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      display: flex;
      align-items: center;
      transition: ease-in-out .3s;
      border-radius: $button-radius;

      svg {
        margin-right: $spacing-small;
        font-size: 20px;
      }

      &:hover {
        background-color: #fff;
        color: $primary-color;
        box-shadow: $box-shadow;
      }

      &.active {
        background-color: #fff;
        color: $primary-color;
        box-shadow: $box-shadow;
      }
    }
  }

  .popup-links {
    list-style: none;
    padding: 0;
    margin-bottom: $spacing-medium;
    display: flex;
    flex-direction: column;

    .btn-logout {
      margin: 0;
      border: 2px solid $primary-color;
      background: none;
      color: $primary-color;
      padding: $spacing-small $spacing-large;
      width: 100%;

      &:hover {
        background-color: #fff;
        color: $primary-color;
      }
    }

    li {
      margin-bottom: $spacing-small;
      text-align: center;

      @media (max-width: $desktop-breakpoint) {
        margin-bottom: $spacing-small;
      }
    }

    a, button {
      display: block;
      padding: $spacing-small $spacing-medium;
      color: $text-color;
      text-decoration: none;
      font-size: 16px;
      transition: $transition;

      &:hover {
        background-color: lighten($primary-color, 10%);
      }

      @media (max-width: $desktop-breakpoint) {
        padding: $spacing-small;
      }
    }
  }
}