@import 'src/styles/variables.scss';

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, $primaryColor, $secondaryColor);
  padding: $spacingMedium;
  box-shadow: $boxShadow;
  z-index: 1;
  position: sticky;
  top: 0;

  .btn-menu {
    display: none;

    @media (max-width: $mobileBreakpoint) {
      display: block;
      color: #fff;
      background: none;
      border: none;
      padding: 0;

      svg {
        font-size: 1.5rem;
      }
    }
  }

  .btn-logout {
    border: 2px solid #fff;
    background: none;
    color: #fff;
    padding: $spacingSmall $spacingLarge;
    width: 100%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: $transition;
    margin-left: $spacingSmall;

    &:hover {
      background-color: #fff;
      color: $primaryColor;
    }
  }

  h1 {
    color: #fff;
    display: flex;
    align-items: center;

    svg {
      margin-right: $spacingSmall;
      font-size: 2rem;
    }

    @media (max-width: $mobileBreakpoint) {
      margin: 0;
    }
  }

  .navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    @media (max-width: $mobileBreakpoint) {
      display: none;
    }

    .sidebar-link {
      padding: $spacingSmall $spacingMedium;
      cursor: pointer;
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      display: flex;
      align-items: center;
      transition: ease-in-out .3s;
      border-radius: $buttonRadius;

      svg {
        margin-right: $spacingSmall;
        font-size: 20px;
      }

      &:hover {
        background-color: #fff;
        color: $primaryColor;
        box-shadow: $boxShadow;
      }

      &.active {
        background-color: #fff;
        color: $primaryColor;
        box-shadow: $boxShadow;
      }
    }
  }

  .popup-links {
    list-style: none;
    padding: 0;
    margin-bottom: $spacingMedium;
    display: flex;
    flex-direction: column;

    .btn-logout {
      margin: 0;
      border: 2px solid $primaryColor;
      background: none;
      color: $primaryColor;
      padding: $spacingSmall $spacingLarge;
      width: 100%;

      &:hover {
        background-color: #fff;
        color: $primaryColor;
      }
    }

    li {
      margin-bottom: $spacingSmall;
      text-align: center;

      @media (max-width: $mobileBreakpoint) {
        margin-bottom: $spacingSmall;
      }
    }

    a, button {
      display: block;
      padding: $spacingSmall $spacingMedium;
      color: $textColor;
      text-decoration: none;
      font-size: 16px;
      transition: $transition;

      &:hover {
        background-color: lighten($primaryColor, 10%);
      }

      @media (max-width: $mobileBreakpoint) {
        padding: $spacingSmall;
      }
    }
  }
}