@import 'src/styles/variables.scss';

.delivery-details {
  background-color: $cardBackgroundColor;
  padding: $spacingMedium;
  border-radius: $borderRadius;
  margin-bottom: $spacingMedium;
  border: $border;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 0;
  }
}