@import 'src/styles/variables.scss';

.delivery-details {
  background-color: $cardBackgroundColor;
  padding: $spacingMedium;
  border-radius: $borderRadius;
  margin-bottom: $spacingMedium;
  border: $border;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  p {
    margin-bottom: $spacingSmall;
  }

  .date-picker-container {
    display: flex;
    align-items: center;

    label {
      margin-right: $spacingSmall;
    }

    input[type="date"] {
      background-color: $inputBackgroundColor;
      border: $border;
      border-radius: $borderRadius;
      padding: $spacingSmall;
      width: 100%; // Adjust as needed
      font-size: inherit;
      color: $textColor;
    }
  }
}
