@import "src/styles/variables.scss";

.popup-overlay {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .popup-menu {
    background-color: #fff;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    width: 80%;
    height: 80%;
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    animation: fadeUp 0.3s ease-in-out;

    .popup-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: $border;
      padding: $spacingMedium;

      button {
        color: #fff;
        border: none;
        border-radius: 50%;
        width: 30px; /* Adjust the size as needed */
        height: 30px; /* Equal to the width */
        padding: 5px;
        cursor: pointer;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;

        svg {
          margin: 0;
        }
      }
    }

    .popup-content {
      padding: $spacingMedium;
      overflow-y: auto;
      flex: 1;
    }

    @media (max-width: $mobileBreakpoint) {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
