@import 'src/styles/variables.scss';

/* Submenu SCSS */
.submenu {
  display: flex;
  justify-content: space-around;
  background-color: $input-background-color;
  border-radius: $button-radius;
  margin-bottom: $spacing-medium;
  border: 1px solid #ddd;
  overflow: hidden;

  .submenu-item {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:not(:last-child) {
      border-right: 1px solid #ddd;
    }

    &:hover {
      background-color: #fff;
    }

    &.selected {
      background-color: #fff;
      color: $text-color;
      font-weight: bold;
    }
  }
}

@media (max-width: 768px) {
  .submenu {
    flex-direction: column;
    align-items: stretch;

    .submenu-item {
      border-right: none;

      &:not(:last-child) {
        border-bottom: 1px solid #ddd;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}