@import 'src/styles/variables.scss';

.stakeholder-stats {
  display: grid;
  gap: $spacingSmall;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Grid layout with minimum item width of 100px */
  width: 100%;
  margin-bottom: $spacingLarge;

  .stat-wrapper {
    width: 100%;
    padding: $spacingSmall;
    background-color: $cardBackgroundColor;
    border-radius: $borderRadius;
    border: $border;

    label {
      margin-bottom: $spacingSmall;
    }

    strong {
      color: $textColor;
    }

    .progress-bar {
      height: 8px;
      background-color: $backgroundColor;
      border-radius: 4px;
      margin-bottom: $spacingSmall;

      .progress {
        height: 100%;
        border-radius: 4px;
        background-color: $primaryColor;
      }
    }
  }
}
