@import 'src/styles/variables.scss';

.tract-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border-radius: $border-radius;

  .tract-form-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: $spacing-medium;
    width: 100%;

    // Mobile layout
    @media (max-width: $mobile-breakpoint) {
      grid-template-columns: 1fr;
    }

    .tract-form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 500px;
      border-radius: $button-radius;
      border: $border;
      box-shadow: $box-shadow;
      padding: $spacing-medium; // Increased padding
      overflow: hidden;

      h3 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: $spacing-small; // Added spacing
      }

      ul {
        margin: $spacing-small 0;
        display: flex;
        flex-wrap: wrap;

        a {
          margin-right: $spacing-small;
        }
      }
    }
  }
}
